@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, sans-serif;
}
.wrapper_main,.header {
    width: 100%;
    overflow: hidden;
}
.wrapper{
    width: 94%;
    margin: 0 auto;
    overflow: hidden;
}
img {
    width: 100%;
    object-fit: fill;
}
.Nav_box {
    cursor: pointer;
}
.menu_content,.Nav_box {
    background: white;
}
.menu_info,.copyRight, .click_button ,footer {
    background: black;
}
.menu_content {
    width: 280pxß;
    height: 100%;
    position: fixed;
    top: 0;
    right: 5%;
    z-index: 90;
    transition: all 0.5s;
    transform: translateX(-100vw);
  }
  .menu_content.is-active{
    transform: translateX(-42vw);
  } 
  .Nav_box.is-active {
    transform: translateX(55vw);
  }
  .Nav_box {
    position: fixed;
    top: 1%;
    left: 2%;
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: all 0.5s;
  }
.Nav_box span:first-of-type,.Nav_box span:nth-of-type(2),.Nav_box span:last-of-type{
    content: "";
    display: block;
    height: 2.4px;
    width: 15px;
    border-radius: 3px;
    background: black;
    position: absolute;
}
.Nav_box span:first-of-type {
    top: 15px;
  }
.Nav_box span:nth-of-type(2) {
    top: 20px;
}
.Nav_box span:last-of-type {
    top: 25px;
}
.Nav_box.is-active span:first-of-type,#Nav_check,.search-form   {
    display: none;
}
.Nav_box.is-active span:nth-of-type(2) {
    transform: rotate(45deg);
}
.Nav_box.is-active span:last-of-type  {
    transform: rotate(-45deg);
    top: 20px;
}
.menu_info {
    padding-top: 3%;
    margin-top: -5%;
}
.menu_info .menu_item_img {
    margin-left: 5%;
}
.menu_info .menu_link {
    color: white;
}
.menu_info .borderLine {
    border: solid .5px white;
}
.borderLine {
    border-top: solid 1px black;
    width: 100%;
}
.menu_list {
    padding: 70px 10px 0 auto;
}
.menu_list h3 {
    margin: 5% ;
    font-size: .9rem;
}
.menu_item {
    list-style: none;
    display: flex;
    margin: 3% auto;
}
.menu_item:hover {
    background: gray;
    opacity: .5;
}
.menu_item img {
    width: 20px;
    height: auto;
    mix-blend-mode: multiply;
    position: absolute;
    top: 25%;
    left: 20%;
}
.menu_item_img,.menu_item_pink {
    width: 35px;
    height: 35px;
    background: rgb(230, 230, 230);
    border-radius: 100%;
    padding: 0 10px;
    margin:  1% 5%;
    position: relative;
}
.menu_item_pink {
    background: pink;
}
.menu_link {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    margin-bottom: 5px;
    padding: 9px 15px 10px 0;
}
.close{
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    position: relative;
    left: 94%;
    top: -16px;
    width: 16px;
    height: 16px;
}
.close::before, .close::after { 
    content: "";
    position: absolute;
    top: 50%;
    width: 2px; 
    height: 22px;
    background: white;
}
.close::before {
    transform: translate(-50%,-50%) rotate(45deg);
}
.close::after {
    transform: translate(-50%,-50%) rotate(-45deg);
}
.change {
    text-align: center;
    color: white;
    height: 50px;
    background: rgb(250, 101, 1);
    position: relative;
    margin-top: -30px;
}
.change p{
    padding-top: 20px;
}
.changed{
    display: none;
}
.Nav {
    height: auto;
    transition: all 0.6s;
    padding-bottom: 5%;
  }
.header_block {
    justify-content:space-between;
    height: 50px;
}
.header_information p{
    margin: -2.5% auto;
}
.membership, .favorite,.login,.shopcart{
    width: 55px;
    transition: all .3s;
}
.membership:hover, .favorite:hover,.login:hover,.shopcart:hover{
    cursor: pointer;
    opacity: .5;
}
.header_contents {
    margin: -8px 10px 30px auto;
}
.header_contents img {
    width: 20px;
    margin-left: 10px;
}
.header_contents p,.main_slider {
    margin: auto;
}

.header_contents p{
    font-size: .2rem;
    letter-spacing: 0.1px;
    width: 60px;
}
.logo img {
    width: 100px;
    margin: -30px auto 10px 38px;
}
.shopcart p {
    opacity: 0;
}
.shopcart img {
    width: 25px;
    margin: 8px auto;
}
.main_slider {
    width: 90%;
    transition: all .5s;
}
.item_name {
    margin-top: 13px;
}
.main_slider img {
    width: 100%;
}
.main_slider:hover,.items:hover,.topics img:hover,.ranking img:hover {
    cursor: pointer;
    opacity: .5;
}
.main_slider .slick-slide {
    transition: all .5s;
  }
.main_slider.slick-slide.slick-center{
    opacity: 1;
  }
body h1 {
    font-size: 1rem;
    margin-right: 20px;
}
.outline p {
    margin-left: 5%;
}
.header_block ,.header_contents,.outline,.items_lineUP {
    display: flex;
}
.outline .span {
    border-left: solid 1px black;
    height: 16px;
    margin-right: 5%;
}
.membership,.favorite,.login{
    margin: 1%;
}
.topics,.topics img,.info_img img,.items,.items p,.new_items .new  {
    width: 100%;
}
.topics {
    background: rgb(245, 245, 245);
    overflow: hidden;
    margin-top: -50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.topics h1 {
    margin-left: 5%;
}
.items p,.news_block .day {
    font-size: .6rem;
}
.membership,.favorite,.login,.price,.item_outline  {
    font-size: .7rem;
}
body h2 ,.change,.topics_outline,.new h2,.news_sentence ,details p,.item_name,.new_item_more p,.news_more p  {
    font-size: .8rem;
}
.topics_outline {
    margin: 3px auto 20px 5%;
}
.topics img {
    margin: auto 5%;
    height: 80px;
    transition: all .5s;
}
.topics_img img {
    width: 90%;
    height: auto;
}
.info_img img{
    height: 140px;
    object-fit: cover;
    margin: 10px auto;
}
.items {
  border-radius: 50%;
  margin: 3% auto 15% auto;
  margin-left: 2%;
}
.items_icon,.items_icon_pink {
  position: relative;
  width: 95%;
  padding-top: 95%;
  border-radius: 50%;
  background: rgb(223, 223, 223);
  z-index: -5;
}
.items_icon_pink {
    background: pink;
}
.items img {
    width: 50%;
    height: auto;
    mix-blend-mode: multiply;
    position: absolute;
    top: 30%;
    left: 25%;
}
.items p{
    text-align: center;
    margin: 3% auto;
}
#slider_rank {
    white-space:nowrap;
    overflow: scroll;
}
.slide_rank img,#sells-slider .info_text {
    width: 160px;
    margin: auto 5px;
}
.ranking {
    margin-top: 30px;
    margin-bottom: -20px;
}
.ranking img {
    transition: all .5s;
}
.new {
    width: 48%;
}
.new h1{
    margin: 35% auto 0 auto ;
    text-align: center;
}
.new_items,.wrapper .grid,.new_item_more {
    width: 100%;
}
.new_items img,.item_outline,.item_name {
    width: 250px;
    width: 100%;
}
.new p{
    border-bottom: solid 1px;
    width: 20px;
    text-align: center;
    margin: 15px auto -10px auto;
}
.new_item_more {
    margin: 10% auto;
}
.new_item_more p,.news_more p{
    width: 70px;
    height: 42px;
    background: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    letter-spacing: .5px;
}
.item_name,.new_item_more p,.news_more p,.price {
    font-weight: bold;
}
.item_outline {
    margin: 10px auto;
}
.wrapper .grid {
    margin-top: 60px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}
.price {
    letter-spacing: 0.2px;
}
.news {
    margin-top: 100px;
}
.news_more {
    margin: auto auto 50px 5%;
}
.news_more p:hover,.new_item_more p:hover {
    cursor: pointer;
    color: palevioletred; 
}
.news_sentence {
    margin: 5px auto;
}
.outline h1,.news_block h1  {
    height: 100%; 
    height: 18px;
    margin-left: 15px;
}
.info_img img {
    margin: 8px auto;
}
.menu {
    width: 98%;
    margin: auto;
  }
  .menu p {
      font-size: .7rem;
      margin-bottom: 15px;
  }
  .menu p,.menu a {
    font-weight: bold;
    color: rgb(100, 100, 100);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .menu a {
    text-decoration: none;
    font-size: .85rem;
  }
  .menu input {
    display: none;
  }
  .menu label {
    cursor :pointer;
    display: block;
    text-decoration: none;
    line-height: 1;
    position: relative;
    margin: 0 0 10px;
    padding: 10px;
  }
  .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 1px;
    
  }
  .menu li {
    height: 0;
    width: 98%;
    margin: auto;
    overflow-y: hidden;
    transition: padding-bottom 0.5s, padding-top 0.5s;
    -webkit-transition: padding-bottom 0.5s, padding-top 0.5s;
    -moz-transition: padding-bottom 0.5s, padding-top 0.5s;
    -ms-transition: padding-bottom 0.5s, padding-top 0.5s;
    -o-transition: padding-bottom 0.5s, padding-top 0.5s;
  }
  #menu_bar01:checked ~ #links01 li,
  #menu_bar02:checked ~ #links02 li, 
  #menu_bar03:checked ~ #links03 li,
  #menu_bar04:checked ~ #links04 li,
  #menu_bar05:checked ~ #links05 li {
    height: auto; 
    opacity: 1;
    color: rgb(0, 132, 255);
    font-size: .9rem;
  }
  #menu_bar01:checked ~ #links01 li:last-child,
  #menu_bar02:checked ~ #links02 li:last-child, 
  #menu_bar03:checked ~ #links03 li:last-child,
  #menu_bar04:checked ~ #links04 li:last-child,
  #menu_bar05:checked ~ #links05 li:last-child{
    margin-bottom: 20px;
  }
  .menu .button {
    background: black;
    width: 20px;
    height: 20px;
    position:absolute;
    right: 24px;
    top: 45px;
    margin: auto;
    border-radius: 100%;
  }
  .menu label:after{
    content:"";
    display:block;
    width:8px;
    height:8px;
    border-top: white 2px solid;
    border-right: white 2px solid;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    position:absolute;
    right: 30px;
    top: 50px;
    margin: auto;
  }
  .menu input[type=checkbox]:checked + label:after{
    content:"";
    display:block;
    width:8px;
    height:8px;
    border-top: white 2px solid;
    border-right: white 2px solid;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position:absolute;
    top: 53px;
    margin: auto;
  }
.border_line {
    width: 96%;
    margin: auto;
    border-bottom: solid 1px lightgray;
}
.footer_line {
    border-bottom: solid 0.1px white;
}
.footer_outline p {
    text-align: center;
    color: white;
    margin: 2.8% auto;
    font-size: .9rem;
}
.footer_outline p:hover {
    cursor: pointer;
    color: rgb(112, 112, 112);
}
.footer_logo img {
    width: 180px;
    height: 120px;
    margin:  20px auto -30px auto ;
}
.copyRight {
    color: white;
    font-size: .1rem;
    text-align: center;
    padding-bottom: 60px;
}
footer {
    width: 100%;
    height: auto;
    padding-top: 1%;
    text-align: center;
    margin-top: 40px;
}
html {
    scroll-behavior: smooth;
}
.pagetop {
    width:25%;
    height: 42px;
    position: fixed;
    right: 0px;
    bottom: 10px;
    background: rgb(175, 175, 175);
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    text-decoration: none;
    color: white;
    font-size: .9rem;
}
@media screen and (max-width: 380px) {
    .newItems img {
        width: 30%;
    }
    .header_contents {
        display: none;
    }
    .header_block .logo {
        margin-left: -10%;
    }
    summary {
        font-size: .6rem;
    }
    .pagetop {
        font-size: .7rem;
        padding: 2%;
        width: auto;
    }
}
@media screen and (min-width: 580px){
    .info_img img{
        max-height: 200px;
        height: 50%;
    }
}
@media screen and (min-width: 768px) {
    .wrapper {
        width: 96%;
    }
    .search-form input,.search-form button, .items,.items p,.new_items img , .header_contents p  {
        font-size: .8rem;
    }
    .header_contents p,.topics,.topics img {
        width: 100%;
    }
    .header {
        position: relative;
    }
    .search-form {
        margin-top: -25px;
        align-items: center;
        overflow: hidden;
    }
    .search-form input {
        width: 200px;
        height: 36px;
        padding: 5px 15px;
        border: solid 1px gray;
        opacity: .5;
        box-sizing: border-box;
        background: #e6edf3;
        border-radius: 0 999px 999px 0;
        outline: none;
        margin-right: 5px;
    }
    .search-form input::placeholder {
        color: #878787;
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
        background-repeat: no-repeat;
    }
    .search-form button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 36px;
        border: none;
        background: black;
        border: solid 1px black;
        cursor: pointer;
        border-radius: 999px 0 0 999px;
        color: white;
    }
    .search-form button::after {
        height: 20px;
        content: '';
    }
    .membership,.favorite,.login,.shopcart {
        display: flex;
        width: 60%;
    }
    .header_contents {
        width: 50%;
    }
    .header_contents img {
        width: 20px;
        height: 20px;
        margin-left: 5%;
    }
    .header_contents p {
        margin-left: 5px;
    }
    .main_slider {
        margin-top: 160px;
    }
    .items_lineUP {
        position: absolute;
        top: 180px;
        width: 80%;
    }
    .items_icon,.items_icon_pink {
        position: relative;
        width: 60px;
        padding-top: 40px;
    }
    .items_icon_pink {
        background: pink;
    }
    .items p{
        padding-top: 5%;
    }
    .topics {
        height: 100%;
        margin: 10% auto;
        padding-top: 100px ;
    }
    .topics_contents{
        margin: 0 auto;
        justify-content: space-around;
    }
    .topics img{
        height: 100px;
        margin: auto 1%;
    }
    .topics_outline {
        margin-top: 5%;
    }
    .slide_rank img{
        width: 180px;
    }
    .search-form,.wrapper .grid, .items ,.topics_contents, .info_img,.footer_contents{
        display: flex;
    }
    .info_text {
        width: 90%;
        margin: auto 10%;
    }
    .info_img img {
        height: 110px;
        margin: 2%;
    }
    .right_arrow,.right_arrow_2 {
        display: inline-block;
        vertical-align: middle;
        color: white;
        position: relative;
        width: 7px;
        height: 7px;
        transform: translateX(-30%) rotate(45deg);
      }
      .right_arrow::before, .right_arrow::after,.right_arrow_2::before,.right_arrow_2::after {
        content: '';
        position: absolute;
        background: currentColor;
      }
      .right_arrow::before,.right_arrow_2::before {
        top: 0;
        left: 0;
        right: 0;
        height: 0.1em;
      }
      .right_arrow::after,.right_arrow_2::after {
        top: 0;
        right: 0;
        bottom: 0;
        width: 0.1em;
      }
      .news {
        border: solid 15px rgb(230, 230, 230);
      }
      .newsBlocks {
        width: 90%;
        margin: 0 auto;
      }
      .outline {
        margin-top: -50px;
      }
      .details {
        margin: 5%;
      }
      footer {
        padding-top: 30px;
      }
      .footer_line {
        display: none;
    }
    .footer_contents {
        justify-content: center;
    }
    .footer_outline {
        margin: auto 1% 5% 1%;
    }
      @media screen and (min-width: 981px) {
        .wrapper {
            width: 80%;
        }
        .search-form {
            display: flex;
        }
        .main_slider {
            height: 85vh;
        }
        .topics {
            width: 80%;
        }
        .topics_img img{
            width: 320px;
            height: 130px;
            object-fit: cover;
        }
      }
}