@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, sans-serif;
}
.wrapper_main,.header {
    width: 100%;
    overflow: hidden;
}
.wrapper{
    width: 94%;
    margin: 0 auto;
    overflow: hidden;
}
img {
    width: 100%;
    object-fit: fill;
}
#Nav_check:checked ~ .menu_content {
    left: 0;
}
.menu_content {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 90;
    background-color: white;
    transition: all 0.5s;
  }
.Nav_box {
    position: fixed;
    top: 1%;
    left: 2%;
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background:white;
}
.Nav_box span,.Nav_box span:before,.Nav_box span:after {
    content: "";
    display: block;
    height: 2.4px;
    width: 15px;
    border-radius: 3px;
    background: black;
    position: absolute;
}
.Nav_box span:before {
    bottom: 5px;
}
.Nav_box span:after {
    top: 5px;
}
#Nav_check {
    display: none;
}
.menu_info {
    padding-top: 3%;
    margin-top: -5%;
    background: black;
}
.menu_info .menu_item_img {
    margin-left: 5%;
}
.menu_info .menu_link {
    color: white;
}
.menu_info .borderLine {
    border: solid .5px white;
}
.borderLine {
    border-top: solid 1px black;
    width: 100%;
}
.menu_list {
    padding: 70px 10px 0;
}
.menu_list h3 {
    margin: 5% auto;
    font-size: .9rem;
}
.menu_item {
    list-style: none;
    display: flex;
    margin: 5% auto;
}
.menu_item img {
    width: 20px;
    height: auto;
    margin: 5% auto;
    mix-blend-mode: multiply;
}
.menu_item_pink {
    background: pink;
    border-radius: 100%;
    margin-right: 5%;
    padding: 3%;
    width: 35px;
    height: 35px;
}
.menu_item_img {
    width: 35px;
    height: 35px;
    background: rgb(230, 230, 230);
    border-radius: 100%;
    padding: 3%;
    margin-right: 5%;
}
.menu_item_img img {
    padding: 5% auto;
}
.menu_link {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    padding: 9px 15px 10px 0;
}
.close{
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    position: relative;
    left: 94%;
    top: -16px;
    width: 16px;
    height: 16px;
}
.close::before, .close::after { 
    content: "";
    position: absolute;
    top: 50%;
    width: 2px; 
    height: 22px;
    background: white;
}
.close::before {
    transform: translate(-50%,-50%) rotate(45deg);
}
.close::after {
    transform: translate(-50%,-50%) rotate(-45deg);
}
.change {
    text-align: center;
    font-size: .8rem;
    color: white;
    height: 50px;
    background: rgb(250, 101, 1);
    position: relative;
    margin-top: -30px;
}
.change p{
    padding-top: 20px;
}
.changed{
    display: none;
}
.Nav {
    height: auto;
    transition: all 0.6s;
    padding-bottom: 5%;
  }
  .openNav{
    position:fixed;
    top: 10px;
    right: 23px;
    width: 40px;
    height: 40px;
    z-index: 9999;
    left: 0;
    background: white;
    border-radius: 100%;
    margin-left: 10px;
  }
  .openNav .span{
    transition: all .4s;
    position: absolute;
    left: 12px;
    height: 2.6px;
    background: black;
    width: 16px;
    border-radius: 999px;
  }
  .openNav .span:nth-of-type(1) {
    top:15px; 
    }
    .openNav .span:nth-of-type(2) {
    top:20.5px;
    }
    .openNav .span:nth-of-type(3) {
    top:26px;
    }
.header_block {
    display: flex;
    justify-content:space-between;
    height: 50px;
}
.header_information p{
    margin: -2.5% auto;
}
.header_contents {
    margin: 0px 10px 30px auto;
    display: flex;
}
.membership, .favorite,.login,.shopcart{
    width: 55px;
}
.shopcart p {
    opacity: 0;
}
.shopcart img {
    margin: 5% auto;
}
.header_contents img {
    width: 20px;
    margin: 0 18%;
}
.header_contents p{
  font-size: .2rem;
  letter-spacing: 0.1px;
  width: 60px;
  margin: auto;
}
.logo img {
    width: 100px;
    margin: -20% auto 10% 38px;
}
.main_slider {
    width: 90%;
    margin: auto;
}
.main_slider img {
    width: 100%;
}
.main_slider .slick-slide {
    transition: all .5s;
  }
.main_slider.slick-slide.slick-center{
    opacity: 1;
  }
body h1 {
    font-size: 1rem;
    margin-right: 20px;
}
.outline p {
    margin-left: 5%;
}
body h2 {
    font-size: .8rem;
}
.outline {
    display: flex;
}
.outline .span {
    border-left: solid 1px black;
    height: 16px;
    margin-right: 5%;
}
.membership,.favorite,.login{
    margin: 1%;
    font-size: .7rem;
}
.topics {
    background: rgb(245, 245, 245);
    width: 100%;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
}
.topics h1 {
    margin-left: 5%;
}
.topics_outline {
    font-size: .8rem;
    margin: 3px auto 20px 5%;
}
.topics img {
    margin: auto 5%;
    width: 100%;
    height: 100px;
}
.topics_img img {
    width: 90%;
    height: auto;
}
.info_img img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    margin: 10px auto;
}
.items_lineUP {
    display: flex;
}
.items {
    width: 100%;
    height: auto;
    background: rgb(197, 197, 197);
    margin-left: 10px;
    position: relative;
    margin-bottom: 50px;
    border-radius: 100%;
}

.items:first-child{
    background: rgb(255, 180, 192);
}

.items img {
    width: 50%;
    height: auto;
    mix-blend-mode: multiply;
    position: absolute;
    top: 30%;
    left: 20%;
}
.items p{
    width: 100%;
    font-size: .6rem;
    text-align: center;
    margin-top: 120%;
}

#slider_rank {
    white-space:nowrap;
    overflow: scroll;
}

.slide_rank img {
    width: 160px;
    margin: auto 5px;
}
#sells-slider .info_text {
    width: 160px;
    margin: auto 5px;
}
.price {
    font-size: .7rem;
}
.ranking {
    margin-top: 40px;
   
}
.new {
    width: 48%;
}
.new_items .new {
    width: 100%;
}
.new h1{
    margin: 35% auto 0 auto ;
    text-align: center;
}
.new h2 {
    font-size: 0.8rem;
}
.new_items,.wrapper .grid {
    width: 100%;
}
.new_items img,.item_outline,.item_name {
    width: 260px;
    width: 100%;
}
.new p{
    border-bottom: solid 1px;
    width: 20px;
    text-align: center;
    margin: 15px auto -10px auto;
}
.new_item_more {
    width: 100%;
    margin: 10% auto;
}
.new_item_more p,.news_more p{
    width: 70px;
    height: 42px;
    background: black;
    color: white;
    text-align: center;
    padding-top: 12px;
    letter-spacing: 0.5px;
}
.item_name,.new_item_more p,.news_more p {
    font-size: .8rem;
    font-weight: bold;
}
.item_outline {
    font-size: .7rem;
    margin: 10px auto;
}
.wrapper .grid {
    margin-top: 60px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
.price {
    font-weight: bold;
    letter-spacing: 0.2px;
}
.news {
    margin-top: 100px;
}
.news_more {
    margin: auto auto 50px auto;
}
.news_block .day {
    font-size: .6rem;
}
.news_sentence {
    font-size: .8rem;
    margin: 5px auto;
}
.news_block p{
    color: rgb(0, 110, 255);
    opacity: 0;
}
.outline h1,.news_block h1  {
    height: 100%; 
    height: 18px;
}
.info_img img {
    margin: 8px auto;
}
.border_line {
    border-bottom: solid 1px lightgray;
}
details {
    height: 40px;
    transition: .6s;
    margin-top: 10px;
  }
  details[open] {
    height: 100px;
  }
  summary::-webkit-details-marker {
  display: none;
  }
  summary {
    list-style: none; 
    cursor: pointer;
    border-radius: 1px;
    font-size: .82rem;
  }
  .click_button {
    position: relative;
    width: 10px;
    height: 10px;
    padding: 4.8px;
    border-radius: 100%;
    top: -20px;
    right: -90%;
    background: black;
    text-align: right;
  }
  .click_button::before {
    content: '';
    width: 6px;
    height: 6px;
    border-top: solid 1.5px white;
    border-right: solid 1.5px white;
    position: absolute;
    left: 6.5px;
    top: 5px;
    transform: rotate(135deg);
  }
  .click_button::after {
    transform: rotate(180deg);
  } 
  details[open] summary::after {
    transform: rotate(225deg);
  }
  details p {
    margin: 0;
    font-size: .8rem;
    color: rgb(0, 132, 255);
  }
  details[open] p {
    animation: fadeIn .8s ease;
    margin-top:10px;
   }
  @keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
  }
  .day {
      font-size: .68rem;
      margin: 15px auto;
  }

.footer_line {
    border-bottom: solid 0.1px white;
}
.footer_outline p {
    text-align: center;
    color: white;
    margin: 2.8% auto;
    font-size: .9rem;
}
.footer_logo img {
    width: 180px;
    height: 120px;
    margin:  20px auto -30px auto ;
}
.copyRight {
    color: white;
    font-size: .1rem;
    text-align: center;
    padding-bottom: 60px;
    background: black;
}
footer {
    width: 100%;
    background: black;
    height: auto;
    padding-top: 1%;
    text-align: center;
    margin-top: 40px;
}
html {
    scroll-behavior: smooth;
}
.pagetop {
    width:25%;
    height: 45px;
    position: fixed;
    right: 0px;
    bottom: 10px;
    background: rgb(158, 158, 158);
    border: solid 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    text-decoration: none;
    color: white;
}


@media screen and (max-width: 480px) {
    .newItems img {
        width: 30%;
    }
}
@media screen and (min-width: 768px) {
    .wrapper {
        width: 96%;
    }
    
	.items {
        width: 30px;
        height: 30px;
    }
 
    .topics {
        width: 100%;
        height: 100%;
        margin: 10% auto;
    }
    .topics_contents{
        display: flex;
        margin: 0 auto;
        justify-content: space-around;
    }
    .topics img{
        width: 100%;
        height: 160px;
        margin: auto 1%;
    }
    .topics_outline {
        margin-top: 5%;
    }
    .slide_rank img{
        width: 180px;
    }
    .wrapper .grid {
        display: flex;
    }
    .new_items img {
        width: 260px;
    }
    .info_text {
        width: 260px;
        margin: auto 10%;
    }
    .info_img{
        display: flex;
    }
    .info_img img {
        height: 110px;
        margin: 2%;
    }
    
    .right_arrow,.right_arrow_2 {
        display: inline-block;
        vertical-align: middle;
        color: white;
        position: relative;
        width: 7px;
        height: 7px;
        transform: translateX(-30%) rotate(45deg);
      }
      
      .right_arrow::before, .right_arrow::after,.right_arrow_2::before,.right_arrow_2::after {
        content: '';
        position: absolute;
        background: currentColor;
      }
      .right_arrow::before,.right_arrow_2::before {
        top: 0;
        left: 0;
        right: 0;
        height: 0.1em;
      }
      .right_arrow::after,.right_arrow_2::after {
        top: 0;
        right: 0;
        bottom: 0;
        width: 0.1em;
      }
      .news {
          border: solid 15px rgb(230, 230, 230);
      }
      .newsBlocks {
          width: 90%;
          margin: 0 auto;
      }
      .outline {
          margin-top: -50px;
      }
      .details {
          margin: 5%;
      }
      .footer_line {
        display: none;
    }
    .footer_contents {
        display: flex;
        justify-content: center;
    }
    .footer_outline {
        margin: 1%;
    }
      @media screen and (min-width: 981px) {
        .topics_img {
            width: 320px;

           
        }
      }
}