@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, sans-serif;
}
.wrapper_main,.header {
    width: 100%;
    overflow: hidden;
}
.wrapper{
    width: 94%;
    margin: 0 auto;
    overflow: hidden;
}
img {
    width: 100%;
    object-fit: fill;
}
.close{
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    position: relative;
    left: 94%;
    top: -16px;
    width: 16px;
    height: 16px;
}
.close::before, .close::after { 
    content: "";
    position: absolute;
    top: 50%;
    width: 2px; 
    height: 22px;
    background: white;
}
.close::before {
    transform: translate(-50%,-50%) rotate(45deg);
}
.close::after {
    transform: translate(-50%,-50%) rotate(-45deg);
}
.change {
    text-align: center;
    font-size: .8rem;
    color: white;
    height: 50px;
    background: rgb(250, 101, 1);
    position: relative;
    margin-top: -30px;
}
.change p{
    padding-top: 20px;
}
.changed{
    display: none;
}

.Nav {
    height: auto;
    transition: all 0.6s;
    padding-bottom: 5%;
  }
  .openNav{
    position:fixed;
    top: 10px;
    right: 23px;
    width: 40px;
    height: 40px;
    z-index: 9999;
    left: 0;
    background: white;
    border-radius: 100%;
    margin-left: 10px;
  }
  .openNav .span{
    transition: all .4s;
    position: absolute;
    left: 13px;
    height: 2px;
    background: black;
    width: 15px;
  }
  .openNav .span:nth-of-type(1) {
    top:11px; 
    }
    .openNav .span:nth-of-type(2) {
    top:17px;
    }
    .openNav .span:nth-of-type(3) {
    top:23px;
    }
.header_block {
    display: flex;
    justify-content:space-between;
    height: 50px;
}
.header_information p{
    margin: -2.5% auto;
}
.header_contents {
    margin: 0px 10px 30px auto;
    display: flex;
}
.membership, .favorite,.login,.shopcart{
    width: 55px;
}
.shopcart p {
    opacity: 0;
}
.shopcart img {
    margin: 5% auto;
}
.header_contents img {
    width: 20px;
    margin: 0 18%;
}
.header_contents p{
  font-size: .2rem;
  letter-spacing: 0.1px;
  width: 60px;
  margin: auto;
}
.logo img {
    width: 100px;
    margin: -20% auto 10% 38px;
}
.main_slider {
    width: 90%;
    margin: auto;
}
.main_slider img {
    width: 100%;
}
.main_slider .slick-slide {
    transition: all .5s;
  }
.main_slider.slick-slide.slick-center{
    opacity: 1;
  }
body h1 {
    font-size: 1rem;
    margin-left: 5%;
    margin-right: 25px;
}
.outline p {
    margin-left: 5%;
}
body h2 {
    font-size: .8rem;
}
.outline {
    display: flex;
}
.membership,.favorite,.login{
    margin: 1%;
    font-size: .7rem;
}
.topics {
    background: rgb(245, 245, 245);
    width: 100%;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
}
.topics h1 {
    margin-left: 5%;
}
.topics_outline {
    font-size: .8rem;
    margin: 3px auto 20px 5%;
}

.topics img {
    margin: auto 5%;
    max-width: 100%;
}
.topics_img img {
    width: 90vw;
    min-height: 180px;
    
}
.info_img img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    margin: 10px auto;
}
.items {
    width: 100%;
    border-radius: 100%;
    background: rgb(197, 197, 197);
    margin-left: 10px;
    position: relative;
    margin-bottom: 50px;
}
.wear,.mat_rug,.props,.protein,.goods {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.items:first-child{
    background: rgb(255, 180, 192);
}
.newItems {
    min-width: 70px;
    min-height: 70px;
}
.items img {
    width: 70%;
    mix-blend-mode: multiply;
    position: absolute;
    top: 20%;
    left: 18%;
}
.items p{
    width: 100%;
    font-size: .6rem;
    position: absolute;
    text-align: center;
    bottom: -70px;
    height: 100%;
}
.items_lineUP {
    display: flex;
    width: 100%;
}
.slide_rank img {
    width: 160px;
    margin: auto 5px;
}
#sells-slider .info_text {
    width: 160px;
    margin: auto 5px;
}
.price {
    font-size: .7rem;
}
.new {
    width: 48%;
}
.new_items .new {
    width: 100%;
}
.new h1{
    margin: 35% auto 0 auto ;
    text-align: center;
}
.new h2 {
    font-size: 0.8rem;
}
.new_items,.wrapper .grid {
    width: 100%;
}
.new_items img,.item_outline,.item_name {
    width: 260px;
    width: 100%;
}
.new p{
    border-bottom: solid 1px;
    width: 20px;
    text-align: center;
    margin: 15px auto -10px auto;
}
.new_item_more {
    width: 100%;
    margin: 10% auto;
}

.new_item_more p,.news_more p{
    width: 70px;
    height: 42px;
    background: black;
    color: white;
    text-align: center;
    padding-top: 12px;
    letter-spacing: 0.5px;
}
.item_name,.new_item_more p,.news_more p {
    font-size: .8rem;
    font-weight: bold;
}
.item_outline {
    font-size: .7rem;
    margin: 10px auto;
}
.wrapper .grid {
    margin-top: 60px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
.price {
    font-weight: bold;
    letter-spacing: 0.2px;
}
.news {
    margin-top: 100px;
}
.news_more {
    margin: -45px auto 50px auto;
}
.news_block .day {
    font-size: .6rem;
}
.news_sentence {
    font-size: .8rem;
    margin: 5px auto;
}
.news_block p{
    color: rgb(0, 110, 255);
    opacity: 0;
}
.outline h1,.news_block h1  {
    border-right: solid 1px black;
    height: 100%; 
    height: 18px;
}
.info_img img {
    margin: 8px auto;
}
.border_line {
    border-bottom: solid 1px lightgray;
}
.footer_line {
    border-bottom: solid 0.1px white;
}
.footer_outline p {
    text-align: center;
    color: white;
    margin: 2.9% auto;
    font-size: .9rem;
}
.footer_logo img {
    width: 180px;
    height: 120px;
    margin:  20px auto -30px auto ;
}
.copyRight {
    color: white;
    font-size: .1rem;
    text-align: center;
    padding-bottom: 60px;
    background: black;
}
footer {
    width: 100%;
    background: black;
    height: auto;
    padding-top: 1%;
    text-align: center;
    margin-top: 40px;
}